<ion-view>
 <ion-header-bar  class="bar bar-header" ng-class="bar_color">

   <button class="button icon ion-ios7-arrow-back" ng-click="backbuttonlist();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 8% 0% 6%;">{{appTitle}}</h1>
	 <button class="button icon ion-edit" ng-click="logbuttonlist();" ng-class="bar_button_color"></button>
 </ion-header-bar>
 <br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">Buttons List</h2>
	 <button class="button button-balanced" style="height:32px;" ng-click="subs();">Subscriber</button>
 </div>
 
	<ion-content >
      <div style="padding:10% 25% 0% 25%;">
	
	<p>
	      <a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_fb.png" alt="" style="width:32px;height:32px;"/></a>
	      <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_twitter.png" alt="" style="width:32px;height:32px;"/></a>
		  <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail1.png" alt="" style="width:32px;height:32px;"/></a>

	</p>
		
        <ion-list ng-show='AppEditor' show-reorder='AppEditor' show-delete="AppEditor" >
          <div class="item item-divider item-button-right" align="center">
             <h2>{{appTitle}}</h2>
          </div>
          <ion-item  ng-repeat="item in items | filter:position" class="item-avatar item-button-right" >
            <img ng-src="{{item.image}}">
   
            <h2 ng-click="editButton(item.id,item.title,item.image);">{{item.title}}</h2>
            <ion-delete-button class="ion-trash-a" ng-click='deleteButton(item.id)'></ion-delete-button>
            <ion-reorder-button on-reorder="moveItem(item, $fromIndex, $toIndex)">
              <i class="icon " ><img src="img/btn_drag.png" style="width:30px;height:30px;"/></i> 
            </ion-reorder-button>
          
          </ion-item>
        </ion-list>
        
        <div class="row" ng-show="AppEditor">
          <div class="col col-60"></div>
             <div class="col col-10"></div>
             <div class="col col-30">
            <button class="button" ng-click="newchapterGo();" ng-class="button_color">+New Button</button>
          </div>
        </div> 


        <ion-list ng-hide="AppEditor">
			
            <div class="item item-divider item-button-right" align="center" >
             <h2>{{appTitle}}</h2>             
              <button class="button button-assertive button-clear" ng-click="appwallgoFun();"><i class="icon"><img src="img/coments.png" style="width:25px;height:25px;"/></i></button>
            </div>
            <li ng-repeat="item in items" type="item-text-wrap" class="item item-avatar item-button-right" ng-click="chapterClick(item.id,item.title);">
            
              <img src="{{item.image}}" >
              <h2 style="color:black;">{{item.title}}</h2>

            </li>
        </ion-list>
        

      </div>


	</ion-content>
    
</ion-view>

