<ion-view>
 <ion-header-bar  class="bar bar-header" ng-class="bar_color">

   <button class="button icon ion-ios7-arrow-back" ng-click="backbuttonlist();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 8% 0% 6%;">{{appTitle}}</h1>

 </ion-header-bar>
 <br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">Buttons List</h2>
	 <button class="button button-balanced" style="height:32px;" ng-click="subs();">Subscriber</button>
 </div>
 
	<ion-content >
      <div style="padding:10% 25% 0% 25%;">

        <ion-list ng-hide="AppEditor">
            <div class="item item-divider item-button-right" align="center" >
             <h2>{{appTitle}}</h2>             
              <button class="button button-assertive button-clear" ng-click="appwallgoFun();"><i class="icon"><img src="img/coments.png" style="width:25px;height:25px;"/></i></button>
            </div>
            <li ng-repeat="item in items" type="item-text-wrap" class="item item-avatar item-button-right" ng-click="chapterClick(item.id,item.title);">
            
              <img src="{{item.image}}" >
              <h2 style="color:black;">{{item.title}}</h2>  
            
            </li>
        </ion-list>
        

      </div>


	</ion-content>
    
</ion-view>

