 <ion-view>

 <ion-header-bar  class="bar bar-header" ng-class="bar_color">
	 	<button class="button icon ion-ios7-arrow-back" ng-click="backappwall();" ng-class="bar_button_color"></button>
       <h1 class="title" style="padding:0% 20% 0% 6%;">{{appTitle}}</h1>
			<button class="button icon ion-home" ng-click="homeappwall();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
           
</ion-header-bar>

<ion-content  has-header="true" style="padding:3% 25% 0% 25%;">
                                                      
                     
      <div id="appwallListview">
      </div>
                    
                            
 </ion-content>

</ion-view>
