<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

 <button class="button" style="width:38px;height:23px;" ng-click="navaudio();" ng-class="bar_button_color"><img src="img/list_add.png"/></button>
	   <h1 class="title" style="padding:0% 19% 0% 6%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homeaudio();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backaudio();" ng-class="bar_button_color"></button>
  </div>
  
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	  	<h2 class="title" style="font-size:16px;">New Audio</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">
  
		  <label class="item item-input" style="width:100%;">
             <input type="text" id="audiotitle" ng-model="audiocreate.title" placeholder="Type Audio Title">
		  </label>
 
		  <label class="item item-input" style="width:100%;">
             <input type="text" id="audiodesc" ng-model="audiocreate.desc" placeholder="Type Audio Description">
		  </label>
	   
      <div class="item item-input" style="padding:0px 0px 8px 0px;width:100%;">
             <div class="col col-50"><span class="input-label">Audio upload</span></div> 
            <div class="col col-20"><img id="audiourlimg" style="width:50px;heigth:50px;" src="img/no_audio.png" alt="your image" /></div>                        
		    <div class="col col-30"><input type="file" name="audio" accept="audio/*" id="audio" /></div> 
	 </div>    

       
	<div class="item item-input" style="padding:0px 0px 8px 0px;width:100%;">
            <div class="col col-50"><span class="input-label">Audio thumbnail upload</span></div>          
           <div class="col col-20"><img id="audioimg" style="width:50px;heigth:50px;" src="img/no_image.png" alt="your image" /></div>
		    <div class="col col-30"><input type="file" name="audio_thumb" id="audiothumb" /></div> 
	</div>    

           
   <button style="margin-top:7%;" ng-class="button_color" class="button button-full" ng-click="createaudio();" >Create</button>

</div>
   </ion-content>
</ion-view>
