<ion-view>
 <ion-header-bar  class="bar bar-header" ng-class="bar_color">
	 	  <button class="button icon ion-ios7-arrow-back" ng-click="backbuttonAppwall();" ng-class="bar_button_color"></button>

       <h1 class="title" style="padding:0% 20% 0% 6%;">{{appTitle}}</h1>
			<button class="button icon ion-home" ng-click="homebuttonAppwall();" ng-class="bar_button_color"></button>

</ion-header-bar>

<ion-content has-header="true" style="padding:3% 25% 0% 25%;">
                              
     <div class="bar bar-header item-input-inset" >
            <label class="item-input-wrapper">
                <input type="text" id="Buttonpostmessage" placeholder="Your message goes here....">
            </label>
             <button id="textPostMgs" class="button button-clear button-positive" onclick="javascript:ButtonpostmessageFun();" >
                     <img src="img/btn_post.png" style="width:70px;height:auto;margin-top:10%;"/>
             </button>
      </div>
       <div id="ButtonappwallListview">
       </div>
  <br/>
      <br/>
       <br/>
</ion-content>

</ion-view>


