<ion-view>
  <ion-header-bar  class="bar bar-header" ng-class="bar_color">

   <button class="button icon ion-ios7-arrow-back" ng-click="backchapterlist();"  ng-class="bar_button_color"></button>
   <h1 class="title" style="padding:0% 21% 0% 6%;">{{appTitle}}</h1>
   <div class="buttons">
        <button class="button icon ion-home" ng-click="homechapterlist();"  ng-class="bar_button_color"></button>&nbsp;&nbsp;
        <button class="button icon ion-edit" ng-click="logtextlist();"  ng-class="bar_button_color"></button>
   </div>
   
 </ion-header-bar>

  	<ion-content >
      <div style="padding:4% 25% 0% 25%;">
	  	
<p>
	      <a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_fb.png" alt="" style="width:32px;height:32px;"/></a>
	      <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_twitter.png" alt="" style="width:32px;height:32px;"/></a>
		  <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail1.png" alt="" style="width:32px;height:32px;"/></a>

	</p>
	
    	  <ul class="list" ng-hide="AppEditor">
            <div class="item item-divider item-button-right" align="center">
              {{buttonTitle}}
              <button class="button button-assertive button-clear" ng-click="buttonAppwallgoFun();" ng-show='buttonAppWall'><i class="icon"><img src="img/coments.png" style="width:25px;height:25px;"/></i></button>
            </div>
    		    <li ng-repeat="item in elementArray" type="item-text-wrap" class="item item-button-right" ng-click="subTitClickFtn(item.id,item.title,item.content_type,item.email,item.text,item.live_url,item.rss_url,item.audio.thumbnail,item.audio.url,item.video.thumbnail,item.video.url,item.tag_list,item.video.video_frame);">
             <img ng-src="{{item.image}}">
              <h2 style="color:black;margin-left:7%;">{{item.title}}</h2>
             
              
              <div class="buttons" ng-show="AppEditor">
                <button class="button button-assertive button-outline" ng-click="deleteButton(item.id)"><i class="icon ion-trash-a"></i></button>            
              </div>

            </li>
        </ul>
        
        <div ng-show="AppEditor">
        <ul class="list" >
            <div class="item item-divider item-button-right" align="center">
              {{buttonTitle}}
            </div>
            
            <li ng-repeat="item in elementArray" type="item-text-wrap" class="item item-button-right" >         
             <img ng-src="{{item.image}}">
              <h2 style="color:black;">{{item.title}}</h2>
             
              
              <div class="buttons" ng-show="AppEditor">
                <button class="button button-assertive button-outline" ng-click="deleteContent(item.id)"><i class="icon ion-trash-a"></i></button>
              </div>
            </li>
        </ul>
        <div class="row" >
             <div class="col col-60"></div>
             <div class="col col-10"></div>
             <div class="col col-30">
            <button class="button" ng-class="button_color" ng-click="newContentGo();">+New Element</button>
          </div>
        </div>
      </div>
      </div>


	</ion-content>
    
</ion-view>
