<ion-view>
  <ion-header-bar  class="bar bar-header" ng-class="bar_color">

   <button class="button icon ion-ios7-arrow-back" ng-click="backchapterlist();"  ng-class="bar_button_color"></button>
   <h1 class="title" style="padding:0% 21% 0% 6%;">{{appTitle}}</h1>
   <button class="button icon ion-home" ng-click="homechapterlist();"  ng-class="bar_button_color"></button>
     
   
 </ion-header-bar>

  	<ion-content >
      <div style="padding:4% 25% 0% 25%;">
	  	
    	  <ul class="list" ng-hide="AppEditor">
            <div class="item item-divider item-button-right" align="center">
              {{buttonTitle}}
              <button class="button button-assertive button-clear" ng-click="buttonAppwallgoFun();" ><i class="icon"><img src="img/coments.png" style="width:25px;height:25px;"/></i></button>
            </div>
    		    <li ng-repeat="item in elementArray" type="item-text-wrap" class="item item-button-right" ng-click="subTitClickFtn(item.id,item.title,item.content_type,item.email,item.text,item.live_url,item.rss_url,item.audio.thumbnail,item.audio.url,item.video.thumbnail,item.video.url,item.tag_list,item.video.video_frame);">
             <img ng-src="{{item.image}}">
              <h2 style="color:black;margin-left:7%;">{{item.title}}</h2>
             
              
              <div class="buttons" ng-show="AppEditor">
                <button class="button button-assertive button-outline" ng-click="deleteButton(item.id)"><i class="icon ion-trash-a"></i></button>            
              </div>

            </li>
        </ul>
        
        <div ng-show="AppEditor">
        <ul class="list" >
            <div class="item item-divider item-button-right" align="center">
              {{buttonTitle}}
            </div>
            
            <li ng-repeat="item in elementArray" type="item-text-wrap" class="item item-button-right" >         
             <img ng-src="{{item.image}}">
              <h2 style="color:black;">{{item.title}}</h2>
             
              
              <div class="buttons" ng-show="AppEditor">
                <button class="button button-assertive button-outline" ng-click="deleteContent(item.id)"><i class="icon ion-trash-a"></i></button>
              </div>
            </li>
        </ul>


	</ion-content>
    
</ion-view>
