<ion-view>
 <ion-header-bar  class="bar bar-header bar-positive">    
    <button class="button button-positive icon ion-ios7-arrow-back" ng-click="backprevfeed();"></button>
    <h1 class="title" style="padding:0% 21% 0% 5%;">RSS FEEDS</h1>
    <button class="button button-positive icon ion-eye" ng-click="eyefeed();"></button>

</ion-header-bar>


	<ion-content class="padding">
 <div style="padding:4% 25% 0% 25%;"  ng-hide="AppEditor">
		<ion-list class="list list-inset">

			<ion-item ng-repeat="entry in entries" href="#/entry1/{{$index}}">
				{{entry.title}}
			</ion-item>
           
   </div>
            <div ng-show="AppEditor">

            <div style="padding:6% 25% 0% 25%;" ng-show="AppEditor">
        


                <label class="item item-input" style="padding-top:22px;height:15%;">
                    {{elementtext}}
                </label>
                
                <label class="item item-input" style="padding-top:22px;height:15%;">
                    {{elementrssurl}}
                </label>

            </div>
            </div>

		</ion-list>

	</ion-content>
	
</ion-view>
