<ion-view >
   <ion-header-bar  class="bar bar-header bar-positive">
    
    <button class="button button-positive icon ion-ios7-arrow-back" ng-click="backprevfeed();"></button>
    <h1 class="title" style="padding:0% 21% 0% 5%;">RSS FEEDS</h1>
    <button class="button button-positive icon ion-eye" ng-click="eyefeed();"></button>

  </ion-header-bar>


	<ion-content class="padding">
 <div style="padding:4% 25% 0% 25%;" ng-hide="AppEditor">
		<ion-list class="list list-inset">

			<ion-item ng-repeat="entry in entries" href="#/entry2/{{$index}}">
				{{entry.title}}
			</ion-item>
           
   </div>
            <div ng-show="AppEditor">

            <div style="padding:6% 25% 0% 25%;" ng-show="AppEditor">
        
            <div class="row">
                 <div style="width:85%;"></div>
                 <div style="width:15%;"><button class="button button-right" ng-click="editrss();">
                  
                  <i class="icon ion-edit"></i>
                  
                 </button></div>
            </div>


                <label class="item item-input" style="padding-top:22px;height:15%;">
                    {{elementtext}}
                </label>
                
                <label class="item item-input" style="padding-top:22px;height:15%;">
                    {{elementrssurl}}
                </label>

            </div>
            </div>

		</ion-list>

	</ion-content>
 <div align="center" style="position:fixed;bottom: 0;right:45%;">
		<a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396343749_facebook_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
	      <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396344405_twitter_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
		 <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail.png" alt="" style="width:32px;height:32px;"/></a>

	</div>
	
</ion-view>
