<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

 <button class="button" style="width:38px;height:23px;" ng-click="naveditmap();" ng-class="bar_button_color"><img src="img/list_add.png" /></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homeeditmap();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backeditmap();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">Map and Location</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">
  
  <div class="card">
		    <div class="item item-divider">
				Addresses
			  </div>
	<div class="item item-button-right row" ng-repeat="address in addresses">
        <div class="col col-95">
          <input type="text" ng-model="address.address">
        </div>
        
        <div class="col col-5">
          <button class="button button-calm button-small" ng-click="updateAddress(address.id,address.address)" title="Save updates">
            <i class="icon ion-checkmark-round"></i>
          </button>
          <button class="button button-assertive button-small" ng-click="deleteAddress(address.id)">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>
        
    </div>
      
      <div class="item item-button-right row" style="width:100%;">
        <div class="col col-95">
			<input type="text" style="width:100%;" id="mapedittitle" ng-model="createeditmap.title" placeholder="Type New Address"></div>
        <div class="col col-5">
          <button class="button" ng-class="button_color" ng-click="addAddress()">Add Address</button>
        </div>
      </div>
      
    </div>	
    

	
      <div class="card" >
			<div class="item item-divider">
				Custom values
			</div>  
			      
       <ul class="list" >          
				<li ng-repeat="item in editmappage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
						  <button class="button button-clear button-assertive" ng-click="removemapCustomValue(item.id)"><i class="icon ion-close-round"></i></button>
                    </div>						 
	           </li>   
            </ul>
            
			  <label class="item item-input item-stacked-label">
				  <span>Title</span>
				  <br/>
					  <input type="text" id="mapcustitle" ng-model="editmap.custommaptitle" >
			  </label>

       
			   <label class="item item-input item-stacked-label">
				  <span>Value</span>
				  <br/>
					<input type="text" id="mapcusvalue" ng-model="editmap.custommapvalue" >
				</label>

	   </div>
			<button class="button button-full" ng-class="button_color" ng-click="mapeditcustom();">Create</button>

</div>
 </ion-content>
</ion-view>
