<ion-view>
  <ion-header-bar  class="bar bar-header" ng-class="bar_color">

	<button class="button icon ion-ios7-arrow-back" ng-click="backnavbutton();" ng-class="bar_button_color"></button>
	 <h1 class="title" style="padding:0% 8% 0% 8%;">{{appTitle}}</h1>  
	<button class="button icon ion-home" ng-click="homenavbutton();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">Menu</h2>
 </div>
  <ion-content > 
  <div style="padding:8% 25% 0% 25%;">
                    
  <div class="list list-inset" >
	   <div class="item" ng-click="addbutton();"> 
			<h3>+Add New Button</h3>
		</div>
		
 </div>
 
  
 </div>
   </ion-content>
</ion-view>
