<ion-view>
  <ion-header-bar  class="bar bar-header" ng-class="bar_color">
	  
         <button class="button icon ion-ios7-arrow-back" ng-click="backnewapp1();" ng-class="bar_button_color"></button>
      <h1 class="title" style="padding:0% 8% 0% 8%;">{{appTitle}}</h1>
	 <button class="button icon ion-home" ng-click="homeapp1();" ng-class="bar_button_color"></button>
	 
 </ion-header-bar>
   <ion-content > 
   
    <div class="card" style="padding:32px 25% 450px 25%;">
		
			<ion-toggle ng-model="appcre.customvalue" >
					Floating Social Icons
			</ion-toggle>
        
          <label class="item item-input">
				<div class="row" style="margin-left:4px;">
					<div style="width:20%;" style="margin-left:4px;"><span class="input-label">Url</span></div>
					<div style="width:80%;"><label class="item item-input" style="width:100%;">
						<input type="text" id="floaturl" ng-model="appcre.floaturl" ></label></div>
					</div>   
			</label>
	
       <button class="button button-full" ng-class="button_color" ng-click="createnewapp1();" >Create</button>
       
       
      </div>
      
      
 </ion-content>
</ion-view>

    

