<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

 <button class="button" style="width:38px;height:25px;" ng-click="navbutton();" ng-class="bar_button_color"><img src="img/list_add.png"/></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homebutton();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backbutton();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">New Button</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">

       <label class="item item-input" style="padding:5px 0px 10px 0px;width:100%;">
		  <div class="col col-20"><span  class="input-label" >Title</span></div>     
		  <div class="col col-80"><label class="item item-input"  style="width:100%;">
             <input type="text" id="idtitle" ng-model="buttoncreate.title" >
		  </label></div>     
       </label>
	   
       <label class="item item-input" style="padding:5px 0px 5px 0px;width:100%;">
		 
            <div class="col col-40"><span class="input-label">Button image(57x57px)</span></div>          
            <div class="col col-20"><img id="buttonimg" style="width:50px;heigth:50px;" src="img/no_image.png" alt="your image" /></div>
		    <div class="col col-40"><input type="file" id="buttonimage" style="width:100%;"/></div> 
		   
       </label> 

           
   <button style="margin-top:8%;" ng-class="button_color" class="button button-full" ng-click="create();" >Create</button>

</div>
   </ion-content>
</ion-view>

