<ion-view>
 <ion-header-bar  class="bar bar-header" ng-class="bar_color">

	<button class="button icon ion-ios7-arrow-back" ng-click="backprevtext();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homeprevtext();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
            <button class="button icon ion-edit" ng-click="logprevtext();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	  <div style="margin-left:5%;font-size:16px;" class="doubleline">
		   {{elementTitle}}
	</div>
  </div>
         
  <ion-content > 

   <div style="padding:8% 25% 0% 25%;">
	
		   <div class="item item-text-wrap" ng-bind-html="description" style="padding:8px 2px 12px 2px;">
	        </div>    	
      
    <ul class="list">
 

            <ion-slide-box on-slide-changed="slideChanged(index)" style="padding:2% 0 0 0">

                <ion-slide ng-repeat="item in editpicpage" style="padding:0">

                   

                   <img src={{item.url}} width="100%"/>

                   

                </ion-slide>

                

            </ion-slide-box>


          <ul>
  
  
		<br/>
			<label ng-repeat="tag in tags" >
					<button class="button button-positive" style="margin-left:2%;" >{{tag}}</button>
			</label>
			
			<br/>	<br/>
		<div class="card">
			
			<div class="item item-divider">
				Custom values
			</div>
			<ul class="list" >          
				<li ng-repeat="item in edittxtpage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
                    </div>						 
	           </li>   
            </ul>
       </div>
       
	</div>
 </ion-content>
 
 <div align="center" style="position:fixed;bottom: 0;right:45%;">
		<a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396343749_facebook_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
	    <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396344405_twitter_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
		<a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail.png" alt="" style="width:32px;height:32px;"/></a>

	</div>
	
</ion-view>

