<ion-view>
 <ion-header-bar  class="bar bar-header" ng-class="bar_color">

	  <button class="button icon ion-ios7-arrow-back" ng-click="backprevaudio();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homeprevaudio();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
            <button class="button icon ion-edit" ng-click="logprevaudio();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
 
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	 <div style="margin-left:5%;font-size:16px;" class="doubleline">
			{{elementtitle}}
	 </div>
  </div>

  <ion-content > 

   <div style="padding:8% 25% 0% 25%;">
  
       <div class="list list-inset">
        
         <div class="item item-text-wrap" ng-bind-html="elementtext" style="padding:8px 2px 8px 2px;">
	     </div>  
	  
	        	
	    <div class="item item-input" style="padding:1px 0px 0px 0px;width:100%;">
            <div class="col col-70"><span class="input-label">Audio upload</span></div> 
             <div class="col col-5"></div>
            <div class="col col-25"><img id="audioprevurlimg" style="width:50px;heigth:50px;" src="img/no_audio.png" alt="your image" ng-click="audioclick();"/></div>               
		</div>    

       
	    <div class="item item-input" style="width:100%;padding:1px 0px 0px 0px;">
            <div class="col col-70"><span class="input-label">Audio thumbnail upload</span></div>          
            <div class="col col-5"></div>
            <div class="col col-25"><img id="audioprevimg" style="width:50px;heigth:50px;" src="img/no_image.png" alt="your image" /></div>
		</div>    
  	  
	  
			<div class="item item-divider">
				Custom values
			</div>
			<ul class="list" >          
				<li ng-repeat="item in disaudiopage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
                    </div>						 
	           </li>   
            </ul>

       </div>
	</div>
 </ion-content>
 
  <div align="center" style="position:fixed;bottom: 0;right:45%;">
		<a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396343749_facebook_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
	      <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396344405_twitter_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
		 <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail.png" alt="" style="width:32px;height:32px;"/></a>

	</div>
	
</ion-view>

<script id="my-modal.html" type="text/ng-template">
	<div class="modal">
	<ion-header-bar>
		<h1 class="title">Audio</h1>
		<button class="button button-clear button-primary" ng-click="audioclickclose();"><img src="img/close.png" style="width:30px;height:30px;"/></button>
	</ion-header-bar>
	
	<ion-content>
		  <iframe style="margin-top:7%;margin-left:17%;" class="playaudio" src="{{contentaudio}}">
			  <p>Your browser does not support iframes.</p>
		 </iframe>
	</ion-content>	 
	
</script>
      
    
