<ion-view>
 <ion-header-bar  class="bar bar-header bar-positive">
       <button class="button icon ion-ios7-arrow-back" ng-click="registerBack();"></button>
      <h1 class="title" style="color:white;">MAB Front End Builder</h1>
  </ion-header-bar>
  <ion-content >
 <div style="padding:8% 25% 0% 25%;width:100%;">
    <div class="list list-inset" >
      <label class="item item-input" style="background-color:white;background-size:100% 100%;color:white;">
         <i class="icon "><img src="img/name.png" style="width:30px;height:30px;"/></i>
        <input type="text" id="regName" placeholder="Name" >
      </label>
      
      <br/>
      
      <label class="item item-input" style="background-color:white;background-size:100% 100%;color:white;">
        <i class="icon "><img src="img/username.png" style="width:30px;height:30px;"/></i>
        <input type="text" id="regUserId" placeholder="Username" >
      </label>
      
       <br/>
       
      <label class="item item-input" style="background-color:white;background-size:100% 100%;color:white;">
        <i class="icon "><img src="img/email.png" style="width:30px;height:30px;"/></i>
        <input type="email" id="regEmail" placeholder="EmailId" >
      </label>
      
       <br/>
       
      <label class="item item-input" style="background-color:white;background-size:100% 100%;color:white;">
        <i class="icon "><img src="img/password.png" style="width:30px;height:30px;"/></i>
        <input type="password" id="regPassword" placeholder="Password">
      </label>
      
       <br/>
       
      <label class="item item-input" style="background-color:white;background-size:100% 100%;color:white;">
        <i class="icon "><img src="img/password.png" style="width:30px;height:30px;"/></i>
        <input type="password" id="regConfirmPassword" placeholder="Confirm Password ">
      </label>
      
      <br/><br/>

      <button class="button button-full" ng-click="registerPageSubmitFtn();" style="background-color:#d6dbe6;background-size:100% 100%;">Register</button>
      </div>
    </div>
  </ion-content>
  
</ion-view>
