<ion-view>
	
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

 <button class="button" style="width:38px;height:23px;" ng-click="navrss();" ng-class="bar_button_color"><img src="img/list_add.png"/></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homerss();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backrss();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">New Contact Form</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">
   <div class="card">
  
		  <label class="item item-input" style="width:100%;">
             <input type="text" id="rssname" ng-model="createrss.rssname" placeholder="Type RSS Feed Name">
		  </label>

		  <label class="item item-input" style="width:100%;">
             <input type="text" id="rssdesc" ng-model="createrss.rssdesc" placeholder="Type Web Page Description">
		  </label>

		  <label class="item item-input" style="width:100%;">
             <input type="url" id="rssurl" ng-model="createrss.rssurl" placeholder="Type Web Page URL">
		  </label>

    </div>
            
   <button style="margin-top:7%;" ng-class="button_color" class="button button-full" ng-click="createrssform();" >Create</button>

</div>
   </ion-content>
</ion-view>
