<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">
    	  
     <button class="button" style="width:38px;height:23px;" ng-click="navsocial();" ng-class="bar_button_color"><img src="img/list_add.png" /></button>
       <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	   <div class="buttons" >
			<button class="button icon ion-home" ng-click="homesocial();" ng-class="bar_button_color" ></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backsocial();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
 
   <ion-content > 

    <div class="card" style="padding:14px 25% 0px 25%;">
		
		 <label class="item item-divider">
            Social Settings
	     </label>
	     
    <div class="item addresses_edit" style="padding:2px 0px 0px 0px;width:100%;">     
     <div class="row">
		 <div class="col col-30"><span class="input-label" ><img src="img/tw.png" style="width:12px;heigth:12px;"/> Twitter</span></div>
		 <div class="col col-70"><label class="item item-input" style="width:100%;"> 
            <input type="text" placeholder="Type your Twitter name" ng-model="book.twitter_username">
        </label></div>
    </div>
   <br/>
    <div class="row">
         <div class="col col-30"><span class="input-label" >App Key</span></div>             
		 <div class="col col-70"><label class="item item-input" style="width:100%;" > 
            <input type="text" placeholder="Type your Twitter Consumer Key" ng-model="book.twitter_key">
         </label></div>          
		</div>
   <br/>

      <div class="row">     
        <div class="col col-30"><span class="input-label" >App Secret</span></div>
        <div class="col col-70"><label class="item item-input" style="width:100%;"> 
            <input type="text" placeholder="Type your Twitter Consumer Secret" ng-model="book.twitter_secret">
        </label></div>
		</div>
   </div>
  
 
   <div class="item addresses_edit" style="padding:2px 0px 0px 0px;width:100%;">
     <div class="row" >
        <div class="col col-30"><span class="input-label" ><img src="img/fb.png" style="width:12px;heigth:12px;"/> Facebook</span></div> 
        <div class="col col-70"><label class="item item-input" style="width:100%;">           
           <input type="text" placeholder="Type your Facebook profile url" ng-model="book.facebook_link">
       </label></div> 
     </div> 
   
   <br/>
     
    <div class="row" >
         <div class="col col-30"><span class="input-label">App ID</span></div> 
         <div class="col col-70"><label class="item item-input" style="width:100%;">  
            <input type="text" placeholder="Type your Facebook App ID" ng-model="book.facebook_key">
        </label></div> 
    </div>
   <br/> 
    <div class="row" >
         <div class="col col-30"><span class="input-label" >App Secret</span></div> 
         <div class="col col-70"><label class="item item-input" style="width:100%;">  
            <input type="text" placeholder="Type your Facebook App Secret" ng-model="book.facebook_secret">
        </label></div> 
    </div>
   </div> 
   
   <div class="item addresses_edit" style="padding:2px 0px 0px 0px;width:100%;">
    <div class="row" >
        <div class="col col-30"><span class="input-label" ><img src="img/g+.png" style="width:12px;heigth:12px;"/> Google+</span></div>             
        <div class="col col-70"><label class="item item-input" style="width:100%;">  
           <input type="text" placeholder="Type your Google+ profile url" ng-model="book.gplus_link">
       </label></div> 
    </div>
    
 <br/>
 
    <div class="row" >
        <div class="col col-30"><span class="input-label" >Client ID</span></div> 
        <div class="col col-70"><label class="item item-input" style="width:100%;">  
          <input type="text" placeholder="Type your Google+ Client ID" ng-model="book.gplus_key">
       </label></div> 
    </div>

 <br/>
 
    <div class="row" >
        <div class="col col-30"><span class="input-label" >Client Secret</span></div> 
         <div class="col col-70"><label class="item item-input" style="width:100%;">  
           <input type="text" placeholder="Type your Google+ Client Secret" ng-model="book.gplus_secret">
       </label></div> 
    </div>
    </div>
		  
    <div class="item addresses_edit" style="padding:2px 0px 0px 0px;width:100%;">    
    <div class="row" >
        <div class="col col-30"><span class="input-label" ><i class="icon ion-social-youtube"></i> Youtube</span></div> 
        <div class="col col-70"><label class="item item-input" style="width:100%;"> 
            <input type="text" placeholder="Type your Youtube profile url" ng-model="book.youtube_link">
       </label></div> 
    </div>
    
     <br/>
     
   <div class="row" >
       <div class="col col-40"><span class="input-label" ><i class="icon ion-social-flickr"></i> Flickr</span></div> 
       <div class="col col-60"><label class="item item-input" style="width:100%;"> 
          <input type="text" placeholder="Type your Flickr profile url" ng-model="book.flickr_link">
      </label></div> 
   </div>

 <br/>
 
   <div class="row" >
      <div class="col col-30"><span class="input-label" ><i class="icon ion-social-pinterest"></i> Pinterest</span></div> 
      <div class="col col-70"><label class="item item-input" style="width:100%;"> 
        <input type="text" placeholder="Type your Pinterest profile url" ng-model="book.pinterest_link">
     </label></div> 
   </div>
   </div>

   <button class="button  button-full" ng-class="button_color" ng-click="updateSocialSettings()">Update Social Settings</button>

   </div>
           
 </ion-content>
</ion-view>
