<ion-view>
 <div  class="bar bar-header bar-positive" >
        
        <button class="button icon ion-ios7-arrow-back button-positive" ng-click="backsublist();"></button>
        <h1 class="title" style="padding:0% 7% 0% 6%;font-size:17px;">{{appTitle}}</h1>
    </div>

<ion-content >
    
  <div style="padding:8% 25% 0% 25%;">
	  
   <div class="list" ng-repeat="item in subscriber" style="padding:0px;margin:0px;">
          
          
          
          <div class="item item-button-right" style="padding:0px;">
              
              <label class="checkbox" style="padding:1px;">
                  
                      
               </label>
              
              <button class="button button-clear"  ng-click="editagent(item.id,item.avatar,item.fullname,item.email,item.phone,item.username,item.password,item.confirmpassword)">
                  
                  <i class="icon ion-edit"></i>
                  
              </button>
              
              
              
              <div class="row" style="padding-top:22px;">
                  
                  <div class="col" style="font-size:20px;padding:0px;">
                      
                      <img id='checkavatar2' ng-src="{{avatar123(item.avatar)}}" style="width:60px; height:60px;"/>
                      
                  </div>
                  
                  <div class="col col-75" style="font-size:20px;padding:0px;">
                      
                      <div ng-click="nextpage(item.id,item.avatar,item.fullname,item.email,item.phone,item.username);" style="font-size:16px;padding:5px;">
                          
                         {{item.fullname}} <p>@{{item.username}}</p>
                          
                      </div>
                      
                  </div>
                  
              </div>
              
          </div>
          
      </div>
    
        
  
 <div  align="right" style="padding: 4% 0% 0% 0%;">
      <button class="button button-royal" ng-click="addsubs();">Add Subscriber</button>
  </div>
  
  </div>
 </ion-content > 
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title" >Subscriber</h1>
    <button class="button button-clear button-primary" ng-click="removesubs();"><img src="img/close.png" style="width:30px;height:30px;"/></button>
    </ion-header-bar>
    
    <ion-content>
    
    <div style="padding:8% 25% 0% 25%;" align="center">
    <div style="margin:auto;width:40%;">
    
    <div class="file-input-wrapper5">
    <button class="btn-file-input5"></button>
    <input type="file" id="tst" />
    </div>
    
    </div>
    </div>
    
    <br/><br/>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="text" placeholder="Firstname" ng-model="data2.firstname"/>
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="text" placeholder="Lastname"  ng-model="data2.lastname" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="text" placeholder="Username"  ng-model="data2.username" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="email"  placeholder="Enter valid email id"  ng-model="data2.email" />
    </label>
    </div>

	 <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="password"  placeholder="Password"  ng-model="data2.password" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="password"  placeholder="Confirm Password"  ng-model="data2.confirmpassword" />
    </label>
    </div>
    
   <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;" >
    <input type="phone"  placeholder="Phone"  ng-model="data2.phone"/ >
    </label>
    </div>
    
    <div  align="center" style="padding: 4% 0% 0% 0%;">
    <button class="button button-royal" ng-click="createsubs();">Create Subscriber</button>
    </div>
    
    </ion-content>
    </script>

<script id="my-modal1.html" type="text/ng-template">
    <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title" >Subscriber</h1>
    <button class="button button-clear button-primary" ng-click="removesubs1();"><img src="img/close.png" style="width:30px;height:30px;"/></button>
    </ion-header-bar>
    
    <ion-content>
    
    <div style="padding:8% 25% 0% 25%;" align="center">
    <div style="margin:auto;width:40%;">
    
   <div class="file-input-wrapper5">
    <button class="btn-file-input5"></button>
    <input type="file" id="tst" />
    </div>
    
    </div>
    </div>
    
    <br/><br/>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="text" placeholder="Firstname" ng-model="data3.firstname"/>
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="text" placeholder="Lastname"  ng-model="data3.lastname" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="text" placeholder="Username"  ng-model="data3.username" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="email"  placeholder="Enter valid email id"  ng-model="data3.email" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="password"  placeholder="Password"  ng-model="data3.password" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;">
    <input type="password"  placeholder="Confirm Password"  ng-model="data3.confirmpassword" />
    </label>
    </div>
    
    <div class="list" style="margin-left:27%;width:50%;">
    <label class="item item-input" style="background-image:url(img/text_box.png);background-size:100% 100%;" >
    <input type="phone"  placeholder="Phone"  ng-model="data3.phone"/ >
    </label>
    </div>
    
    <div  align="center" style="padding: 4% 0% 0% 0%;">
    <button class="button button-royal" ng-click="updatesubs();">Update Subscriber</button>
    </div>
    
    </ion-content>
    </script>
