<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

 <button class="button" style="width:38px;height:23px;" ng-click="navedittask();" ng-class="bar_button_color"><img src="img/list_add.png"/></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homeedittask();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backedittask();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">Task List</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">
  
  <div class="card">
		    <div class="item item-divider">
				Tasks
			  </div>
	 <div class="item item-button-right row" ng-repeat="task in tasks" >
        <div class="col col-80">

          <input type="text" ng-model="task.title">
          <p><input type="text" ng-model="task.description"></p>

        </div>

        <div class="col col-20">
          <button class="button button-calm button-small" ng-click="updateTask(task.id,task.title,task.description)" title="Save updates">
            <i class="icon ion-checkmark-round"></i>
          </button>
          <button class="button button-assertive button-small" ng-click="deleteTask(task.id)">
            <i class="icon ion-trash-a"></i>
          </button>
        </div>
      </div>
      
      <div class="item item-button-right row" >
        <div class="col col-80">
		<label class="item item-input" style="width:100%;">
			<input type="text" id="tasktitle" ng-model="createedittask.taskTitle" placeholder="Type new task title" name="new_title">
         </label>
         <label class="item item-input" style="width:100%;">
          <input type="text" id="taskdesc" ng-model="createedittask.taskDescription" placeholder="Type new task description" name="new_description">
        </label>
        </div>

        <div class="col col-20">
          <button class="button" ng-class="button_color" ng-click="addeditTask(taskTitle,taskDescription)">Add Task</button>
        </div>
      </div>
    </div>


	
      <div class="card" >
			<div class="item item-divider">
				Custom values
			</div>  
			      
       <ul class="list" >          
				<li ng-repeat="item in taskpage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
						  <button class="button button-clear button-assertive" ng-click="removetaskCustomValue(item.id)"><i class="icon ion-close-round"></i></button>
                    </div>						 
	           </li>   
            </ul>
            
			   <label class="item item-input item-stacked-label">
					  <span>Title</span>
					  <br/>
					  <input type="text" id="taskcustitle" ng-model="editcustask.customtasktitle" >
				</label>

       
			    <label class="item item-input item-stacked-label">
					  <span>Value</span>
					  <br/>
					   <input type="text" id="taskcusvalue" ng-model="editcustask.customtaskvalue" >
				  </label>

	   </div>
			<button class="button button-full" ng-class="button_color" ng-click="createtaskcustom();">Create</button>

</div>
 </ion-content>
</ion-view>
