<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

  <button class="button icon ion-ios7-arrow-back" ng-click="backdistask();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homedistask();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
              <button class="button icon ion-ios7-chatbubble" ng-click="elementAppwallgoFun();" ng-show='elementAppWall' ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	  	<h2 class="title" style="font-size:16px;">Task List</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">
  
  <div class="card">
		    <div class="item item-divider">
				Tasks
			  </div>
	 <div class="item item-button-right row" ng-repeat="task in taskdisplay" >
        <div class="col col-80">

          <input type="text" ng-model="task.title">
          <p><input type="text" ng-model="task.description"></p>

        </div>
           <div class="col col-20">
			  <button class="button button-calm button-small" ng-click="updatedisplayTask(task.id,task.title,task.description)" title="Save updates">
				<i class="icon ion-checkmark-round"></i>
			  </button>
			  <button class="button button-assertive button-small" ng-click="deletedisplayTask(task.id)">
				<i class="icon ion-trash-a"></i>
			  </button>
			</div>
      </div>
      
      <div class="item item-button-right row" >
        <div class="col col-80">
		<label class="item item-input" style="width:100%;">
			<input type="text" id="taskdistitle" ng-model="createdisplaytask.taskTitle" placeholder="Type new task title" name="new_title">
         </label>
         <label class="item item-input" style="width:100%;">
          <input type="text" id="taskdisdesc" ng-model="createdisplaytask.taskDescription" placeholder="Type new task description" name="new_description">
        </label>
        </div>
        <div class="col col-20">
          <button class="button" ng-class="button_color" ng-click="adddisplayTask(taskTitle,taskDescription)">Add Task</button>
        </div>
      </div>
    </div>


	
      <div class="card" >
			<div class="item item-divider">
				Custom values
			</div>  
			      
       <ul class="list" >          
				<li ng-repeat="item in taskdisplaypage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
						  <button class="button button-clear button-assertive" ng-click="removetaskdisCustomValue(item.id)"><i class="icon ion-close-round"></i></button>
                    </div>						 
	           </li>   
            </ul>
            
			   <label class="item item-input item-stacked-label">
					  <span>Title</span>
					  <br/>
					  <input type="text" id="taskdisplaycustitle" ng-model="discustask.customtaskdistitle" >
			   </label>

       
			   <label class="item item-input item-stacked-label">
					  <span>Value</span>
					  <br/>
					   <input type="text" id="taskdisplaycusvalue" ng-model="discustask.customtaskdisvalue" >
			    </label>

	   </div>
			<button class="button button-full" ng-class="button_color" ng-click="createtaskdiscustom();">Create</button>

</div>
 </ion-content>
 
 <div align="center" style="position:fixed;bottom: 0;right:45%;">
		<a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396343749_facebook_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
	    <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="http://kopepasah.com.s3.amazonaws.com/assets/codepen.io/1396344405_twitter_circle_color.png" alt="" style="width:32px;height:32px;"/></a>
		<a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail.png" alt="" style="width:32px;height:32px;"/></a>

	</div>
	
</ion-view>
