 <ion-view>

	 <ion-header-bar  class="bar bar-header" ng-class="bar_color">
		 <button class="button icon ion-ios7-arrow-back" ng-click="videoclickclose();" ng-class="bar_button_color"></button>
		<h1 class="title">Video</h1>
	</ion-header-bar>

	<ion-content>
		 <div style="padding:8% 25% 0% 25%;">

 				<div style="border: solid 1px #ccc; padding: 10px; text-align: center;">
        
					<video id="video" width="320" controls="true">
						<source src="img/mov_bbb.mp4"><!-- FireFox 3.5 -->
						Your browser does not support HTML5 video tag. Please download FireFox 3.5 or higher.
					</video><br/>
					
					<button onclick="shoot()" style="width: 64px;border: solid 2px #ccc;">Capture</button><br/>
					<div id="output" style="display: inline-block; top: 4px; position: relative ;border: dotted 1px #ccc; padding: 2px;"></div>
				</div>
		</div>

	</ion-content>	 

</ion-view>    
    