<ion-view>
  <ion-header-bar class="bar bar-header" ng-class="bar_color">

 <button class="button" style="width:38px;height:23px;" ng-click="navvideo();" ng-class="bar_button_color"><img src="img/list_add.png" /></button>
	   <h1 class="title" style="padding:0% 19% 0% 8%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homevideo();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
			<button class="button icon ion-ios7-arrow-back" ng-click="backvideo();" ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	<h2 class="title" style="font-size:16px;">New Video</h2>
 </div>

 <ion-content > 
  <div style="padding:10% 25% 0% 25%;">
  
		  <label class="item item-input" style="width:100%;">
             <input type="text" id="videotitle" ng-model="videocreate.title" placeholder="Type Video Title">
		  </label>

		  <label class="item item-input" style="width:100%;">
             <input type="text" id="videodesc" ng-model="videocreate.desc" placeholder="Type Video Description">
		  </label>

	   
        <div class="item item-input" style="padding:0px 0px 8px 0px;width:100%;">
             <div class="col col-50"><span class="input-label">Video upload</span></div>          
            <div class="col col-20"><img id="videoimg" style="width:50px;heigth:50px;" src="img/no_video.png" alt="your image" /></div>
		    <div class="col col-30"><input type="file" id="video" accept="video/mp4,video/x-m4v,video/*;capture=camcorder" /></div> 
		 </div>    

       
	  <div class="item item-input" style="padding:0px 0px 8px 0px;width:100%;">
            <div class="col col-50"><span class="input-label">Video thumbnail upload</span></div>          
           <div class="col col-20"><img id="videothumbimg" style="width:50px;heigth:50px;" src="img/no_image.png" alt="your image" /></div>
		   <div class="col col-30"><input type="file" id="videothumb" /></div>  
	  </div>    

           
   <button style="margin-top:7%;" ng-class="button_color" class="button button-full" ng-click="createvideo();" >Create</button>

</div>
   </ion-content>
</ion-view>
