<ion-view>
 <ion-header-bar  class="bar bar-header" ng-class="bar_color">

	  <button class="button icon ion-ios7-arrow-back" ng-click="backdisplayvideo();" ng-class="bar_button_color"></button>
	   <h1 class="title" style="padding:0% 19% 0% 6%;">{{appTitle}}</h1>
	    <div class="buttons">
			<button class="button icon ion-home" ng-click="homedisplayvideo();" ng-class="bar_button_color"></button>&nbsp;&nbsp;
              <button class="button icon ion-ios7-chatbubble" ng-click="elementAppwallgoFun();" ng-show='elementAppWall' ng-class="bar_button_color"></button>
		</div>
		
 </ion-header-bar>
<br/>
  <div class="bar bar-subheader" style="margin-top:8px;">
	  	  <div style="margin-left:5%;font-size:16px;">
		   <input type="text" id="displayvideotitle" class="doubleline" ng-model="createdisplayvideo.displayvideotitle">
	</div>
     	</div>    

  <ion-content > 

   <div style="padding:8% 25% 0% 25%;">
  
<p>
	      <a href="http://www.facebook.com/sharer.php?u={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_fb.png" alt="" style="width:32px;height:32px;"/></a>
	      <a href="http://twitter.com/share?url={{float1}}&text=To Download This App Click Here {{appTitle}}" target="_blank"><img src="img/ic_twitter.png" alt="" style="width:32px;height:32px;"/></a>
		  <a href="mailto:?Subject={{appTitle}}&Body=To%20Download%20This%20App%20Click%20This%20Link!%20 {{float1}}"><img src="img/ic_mail1.png" alt="" style="width:32px;height:32px;"/></a>

	</p>
	
       <div class="list list-inset">
        
		    <div class="item item-text-wrap" style="padding:4px 0px 4px 0px;">
				<textarea style="height:30%;" ng-model="createdisplayvideo.displayvideotext" ui-tinymce="tinymceOptions" ></textarea>        
				<input type="file" id="imageSelect2" ng-hide="true" />
	        </div>
	   
	        	
	    <div class="item item-input" style="padding:1px 0px 0px 0px;width:100%;">
             <div class="col col-50"><span class="input-label">Video upload</span></div> 
             <div class="col col-20"><img id="videodisurlimg" style="width:50px;heigth:50px;" src="img/no_video.png" alt="your image" /></div>               
		     <div class="col col-30"><input type="file" name="videodisplay" accept="video/*" id="videodisplay" ng-click="logbuttonlist1();"/></div> 
		</div>    
		
		 <div style="padding:4px 0px 10px 0px;width:100%;text-align: center;" ng-hide='AppEditor'>

				<video id='videoframe' width="420" height="340" controls>
							  <source src="{{frame1}}" >
							  Your browser does not support the video tag.
				 </video>
				 
				 <br/>
				 
				 <span></span>
				<button onclick="shoot()" style="width: 64px;border: solid 2px #ccc;">Capture</button><br/><br/>
				
				
				<div id="output" style="display: inline-block;top: 6px; position: relative ;border: dotted 1px #ccc; padding: 2px;"></div>
		</div>

	   <div class="item item-input" style="padding:1px 0px 0px 0px;width:100%;">
            <div class="col col-50"><span class="input-label">Video thumbnail upload</span></div>          
             <div class="col col-20"><img id="videodisplayimg" style="width:50px;heigth:50px;" src="img/no_image.png" alt="your image" /></div>
             <div class="col col-30"><input type="file" id="video_thumbdisplay" /></div> 
	  </div>    

       
       <button style="margin-top:5%;" ng-class="button_color" class="button button-full" ng-click="updatevideodisplay();" ng-class="button_color">Update</button>
	  	  
	  
			<div class="item item-divider">
				Custom values
			</div>
			<ul class="list" >          
				<li ng-repeat="item in disvideopage" type="item-text-wrap" >				    
					<div class="item item-button-right">
						  <h2>{{item.title}}</h2>
						  <p>{{item.value}}	</p>
						  <button class="button button-clear button-assertive" ng-click="removevideodisCustomValue(item.id)"><i class="icon ion-close-round"></i></button>
                    </div>						 
	           </li>   
            </ul>
            
			  <label class="item item-input item-stacked-label">
				  <span>Title</span>
				  <br/>
				  <input type="text" id="discusvideotitle" ng-model="cusdisplayvideo.customdisvideoTitle" >
			  </label>
			  
			  
			  <label class="item item-input item-stacked-label">
				  <span>Value</span>
				  <br/>
				  <input type="text" id="discusvideovalue" ng-model="cusdisplayvideo.customdisvideovalue" >
			  </label>
	
			<button class="button button-full" ng-class="button_color" ng-click="createvideodis();" >Create</button>
       </div>

	</div>
 </ion-content>
</ion-view>


      
    
