<ion-view>
 <div  class="bar bar-header bar-positive" >
        
        <button class="button icon ion-ios7-arrow-back button-positive" ng-click="backviewdetails();"></button>
        <h1 class="title" style="padding:0% 7% 0% 6%;font-size:17px;">{{appTitle}}</h1>
    </div>

<ion-content >
    
  <div style="padding:8% 25% 0% 25%;">          
                        
        <div align="center" style="padding-top:22px;">
                  
                  <div  style="font-size:16px;padding:0px;">
                      
                      <img id='checkavatar21' ng-src="{{subavatar1}}" style="width:90px; height:90px;"/>
                      
                  </div>
                  
                      <br/>
                      <br/>
      <div class="row"  style="padding-top:22px;">              
                <div class="col"></div>   
          <div class="col col-90" style="font-size:16px;padding:0px;">
                      
                      <div class="item item-text-wrap" style="font-size:16px;padding:24px 0px 26px 0px;">
                          
                          <i class="icon ion-person" style="float: left;margin-left:15px;">     {{subfullname1}}</i>
                          
                      </div>
                      
                       <div class="item item-text-wrap" style="font-size:16px;padding:24px 0px 26px 0px;">
                          
                          <i class="icon ion-person" style="float: left;margin-left:15px;">     {{subusername1}}</i>
                          
                      </div>
                     
                      <div class="item item-text-wrap" style="font-size:16px;padding:24px 0px 26px 0px;">
                          
                          <i class="icon ion-email" style="float: left;margin-left:15px;">     {{subemail1}}</i>
                          
                      </div>
                      
                      <div class="item item-text-wrap" style="font-size:16px;padding:24px 0px 26px 0px;">
                          
                          <i class="icon ion-ios7-telephone" style="float: left;margin-left:15px;">     {{subphone1}}</i>
                          
                      </div>
                      
           </div>
                  
   </div> 
                    
                      
              </div>
  
  </div>
  
  <ion-content >
</ion-view>
